:root {
  --white-base: #c6c1c0;
  --white-shade-100: #b2aead;
  --white-shade-200: #9e9a9a;
  --white-shade-300: #8b8786;
  --white-shade-400: #777473;
  --white-shade-500: #636160;
  --white-shade-600: #4f4d4d;
  --white-shade-700: #3b3a3a;
  --white-shade-800: #282726;
  --white-shade-900: #141313;
  --white-tint-100: #ccc7c6;
  --white-tint-200: #d1cdcd;
  --white-tint-300: #d7d4d3;
  --white-tint-400: #dddad9;
  --white-tint-500: #e3e0e0;
  --white-tint-600: #e8e6e6;
  --white-tint-700: #eeecec;
  --white-tint-800: #f4f3f2;
  --white-tint-900: #f9f9f9;

  --beige-base: #c0a18d;
  --beige-shade-100: #ad917f;
  --beige-shade-200: #9a8171;
  --beige-shade-300: #867163;
  --beige-shade-400: #736155;
  --beige-shade-500: #605147;
  --beige-shade-600: #4d4038;
  --beige-shade-700: #3a302a;
  --beige-shade-800: #26201c;
  --beige-shade-900: #13100e;
  --beige-tint-100: #c6aa98;
  --beige-tint-200: #cdb4a4;
  --beige-tint-300: #d3bdaf;
  --beige-tint-400: #d9c7bb;
  --beige-tint-500: #e0d0c6;
  --beige-tint-600: #e6d9d1;
  --beige-tint-700: #ece3dd;
  --beige-tint-800: #f2ece8;
  --beige-tint-900: #f9f6f4;

  --warrior-base: #1b221f;
  --warrior-shade-100: #181f1c;
  --warrior-shade-200: #161b19;
  --warrior-shade-300: #131816;
  --warrior-shade-400: #101413;
  --warrior-shade-500: #0e1110;
  --warrior-shade-600: #0b0e0c;
  --warrior-shade-700: #080a09;
  --warrior-shade-800: #050706;
  --warrior-shade-900: #030303;
  --warrior-tint-100: #323835;
  --warrior-tint-200: #494e4c;
  --warrior-tint-300: #5f6462;
  --warrior-tint-400: #767a79;
  --warrior-tint-500: #8d918f;
  --warrior-tint-600: #a4a7a5;
  --warrior-tint-700: #bbbdbc;
  --warrior-tint-800: #d1d3d2;
  --warrior-tint-900: #e8e9e9;

  --orchid-base: #a46f89;
  --orchid-shade-100: #94647b;
  --orchid-shade-200: #83596e;
  --orchid-shade-300: #734e60;
  --orchid-shade-400: #624352;
  --orchid-shade-500: #523845;
  --orchid-shade-600: #422c37;
  --orchid-shade-700: #312129;
  --orchid-shade-800: #21161b;
  --orchid-shade-900: #100b0e;
  --orchid-tint-100: #ad7d95;
  --orchid-tint-200: #b68ca1;
  --orchid-tint-300: #bf9aac;
  --orchid-tint-400: #c8a9b8;
  --orchid-tint-500: #d2b7c4;
  --orchid-tint-600: #dbc5d0;
  --orchid-tint-700: #e4d4dc;
  --orchid-tint-800: #ede2e7;
  --orchid-tint-900: #f6f1f3;

  --soil-base: #694636;
  --soil-shade-100: #5f3f31;
  --soil-shade-200: #54382b;
  --soil-shade-300: #4a3126;
  --soil-shade-400: #3f2a20;
  --soil-shade-500: #35231b;
  --soil-shade-600: #2a1c16;
  --soil-shade-700: #201510;
  --soil-shade-800: #150e0b;
  --soil-shade-900: #0b0705;
  --soil-tint-100: #78594a;
  --soil-tint-200: #876b5e;
  --soil-tint-300: #967e72;
  --soil-tint-400: #a59086;
  --soil-tint-500: #b4a39b;
  --soil-tint-600: #c3b5af;
  --soil-tint-700: #d2c8c3;
  --soil-tint-800: #e1dad7;
  --soil-tint-900: #f0edeb;
}

$white-base: var(--white-base);
$white-shade-100: var(--white-shade-100);
$white-shade-200: var(--white-shade-200);
$white-shade-300: var(--white-shade-300);
$white-shade-400: var(--white-shade-400);
$white-shade-500: var(--white-shade-500);
$white-shade-600: var(--white-shade-600);
$white-shade-700: var(--white-shade-700);
$white-shade-800: var(--white-shade-800);
$white-shade-900: var(--white-shade-900);
$white-tint-100: var(--white-tint-100);
$white-tint-200: var(--white-tint-200);
$white-tint-300: var(--white-tint-300);
$white-tint-400: var(--white-tint-400);
$white-tint-500: var(--white-tint-500);
$white-tint-600: var(--white-tint-600);
$white-tint-700: var(--white-tint-700);
$white-tint-800: var(--white-tint-800);
$white-tint-900: var(--white-tint-900);

$beige-base: var(--beige-base);
$beige-shade-100: var(--beige-shade-100);
$beige-shade-200: var(--beige-shade-200);
$beige-shade-300: var(--beige-shade-300);
$beige-shade-400: var(--beige-shade-400);
$beige-shade-500: var(--beige-shade-500);
$beige-shade-600: var(--beige-shade-600);
$beige-shade-700: var(--beige-shade-700);
$beige-shade-800: var(--beige-shade-800);
$beige-shade-900: var(--beige-shade-900);
$beige-tint-100: var(--beige-tint-100);
$beige-tint-200: var(--beige-tint-200);
$beige-tint-300: var(--beige-tint-300);
$beige-tint-400: var(--beige-tint-400);
$beige-tint-500: var(--beige-tint-500);
$beige-tint-600: var(--beige-tint-600);
$beige-tint-700: var(--beige-tint-700);
$beige-tint-800: var(--beige-tint-800);
$beige-tint-900: var(--beige-tint-900);

$warrior-base: var(--warrior-base);
$warrior-shade-100: var(--warrior-shade-100);
$warrior-shade-200: var(--warrior-shade-200);
$warrior-shade-300: var(--warrior-shade-300);
$warrior-shade-400: var(--warrior-shade-400);
$warrior-shade-500: var(--warrior-shade-500);
$warrior-shade-600: var(--warrior-shade-600);
$warrior-shade-700: var(--warrior-shade-700);
$warrior-shade-800: var(--warrior-shade-800);
$warrior-shade-900: var(--warrior-shade-900);
$warrior-tint-100: var(--warrior-tint-100);
$warrior-tint-200: var(--warrior-tint-200);
$warrior-tint-300: var(--warrior-tint-300);
$warrior-tint-400: var(--warrior-tint-400);
$warrior-tint-500: var(--warrior-tint-500);
$warrior-tint-600: var(--warrior-tint-600);
$warrior-tint-700: var(--warrior-tint-700);
$warrior-tint-800: var(--warrior-tint-800);
$warrior-tint-900: var(--warrior-tint-900);

$orchid-base: var(--orchid-base);
$orchid-shade-100: var(--orchid-shade-100);
$orchid-shade-200: var(--orchid-shade-200);
$orchid-shade-300: var(--orchid-shade-300);
$orchid-shade-400: var(--orchid-shade-400);
$orchid-shade-500: var(--orchid-shade-500);
$orchid-shade-600: var(--orchid-shade-600);
$orchid-shade-700: var(--orchid-shade-700);
$orchid-shade-800: var(--orchid-shade-800);
$orchid-shade-900: var(--orchid-shade-900);
$orchid-tint-100: var(--orchid-tint-100);
$orchid-tint-200: var(--orchid-tint-200);
$orchid-tint-300: var(--orchid-tint-300);
$orchid-tint-400: var(--orchid-tint-400);
$orchid-tint-500: var(--orchid-tint-500);
$orchid-tint-600: var(--orchid-tint-600);
$orchid-tint-700: var(--orchid-tint-700);
$orchid-tint-800: var(--orchid-tint-800);
$orchid-tint-900: var(--orchid-tint-900);

$soil-base: var(--soil-base);
$soil-shade-100: var(--soil-shade-100);
$soil-shade-200: var(--soil-shade-200);
$soil-shade-300: var(--soil-shade-300);
$soil-shade-400: var(--soil-shade-400);
$soil-shade-500: var(--soil-shade-500);
$soil-shade-600: var(--soil-shade-600);
$soil-shade-700: var(--soil-shade-700);
$soil-shade-800: var(--soil-shade-800);
$soil-shade-900: var(--soil-shade-900);
$soil-tint-100: var(--soil-tint-100);
$soil-tint-200: var(--soil-tint-200);
$soil-tint-300: var(--soil-tint-300);
$soil-tint-400: var(--soil-tint-400);
$soil-tint-500: var(--soil-tint-500);
$soil-tint-600: var(--soil-tint-600);
$soil-tint-700: var(--soil-tint-700);
$soil-tint-800: var(--soil-tint-800);
$soil-tint-900: var(--soil-tint-900);