@use '../base/colors' as c;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    overflow-x: clip;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: c.$orchid-tint-900;
    overflow-x: clip;
    scroll-behavior: smooth;
}

a,
button {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

ul,
ol,
dl {
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: c.$beige-shade-300 !important;
    opacity: 0.5 !important;
    transition: all 0.3s ease;

    &-active {
        background-color: c.$orchid-base !important;
        opacity: 1 !important;
        width: 1.6rem !important;
        border-radius: 4px !important;
    }
}