@use '../../../scss/base/colors' as c;
@use '../../../scss/base/variables' as v;
@use '../../../scss/base/mixins' as m;

.farewell {
    background-color: c.$orchid-shade-600;
    padding: 5rem;
    color: c.$white-shade-100;
    position: relative;

    &__particle {
        z-index: 2;
        height: 100%;
        pointer-events: none;
        touch-action: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 300;
    }

    &__text {
        text-transform: uppercase;
        font-family: v.$font-serif;
        font-size: 1.2rem;
    }

    &__line {
        @include m.line(5rem, c.$white-shade-100, false);
    }

    &__footer {
        a {
            text-decoration: none;
            color: c.$white-shade-100;
            border-bottom: 1px solid c.$white-shade-100;
        }
    }
}