@use '../../../scss/base/colors' as c;
@use '../../../scss/base/variables' as v;

.dress-code {
    padding: 2rem;
    padding-right: 7rem;
    height: 55rem;
    background-color: c.$orchid-tint-800;

    &__container {
        height: 100%;
        background-size: cover;
        background-position: top;
        position: relative;
        pointer-events: none;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: c.$white-tint-100;
        opacity: .2;
        z-index: 1;
        pointer-events: none;
    }

    &__content {
        position: absolute;
        width: 80%;
        bottom: -10%;
        right: -15%;
        z-index: 2;
        padding: 1rem;
        background-color: c.$orchid-tint-800;
        box-shadow: 0 5px 10px 0 color-mix(in srgb, c.$orchid-base 50%, transparent);
        pointer-events: auto;
    }

    &__messages {
        background-color: c.$orchid-tint-900;
        padding: 2rem;
    }

    &__text {
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;

        span {
            font-weight: 300;
        }
    }

    &__names {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}